.settings
.project
.cproject
Debug
Firmware/Configuration_prusa.h
Firmware/Doc
/Firmware/.vs/Firmware/v14
/Firmware/__vm
/Firmware/Firmware.sln
/Firmware/Firmware.vcxproj
/Firmware/Firmware.vcxproj.filters
/Firmware/Firmware - Shortcut.lnk
/Firmware/variants/1_75mm_MK3-MMU-EINSy10a-E3Dv6full.h.bak
/Firmware/Marlin_main.cpp~RF12cfae7.TMP
/Firmware/variants/1_75mm_MK3-EINSy10a-E3Dv6full.h.bak
/html
/latex
/Doxyfile
/Firmware/builds/1_75mm_MK3-EINY04-E3Dv6full
/Firmware/Configuration_prusa.h.bak
/Firmware/Configuration_prusa_backup.h
/Firmware/ultralcd_implementation_hitachi_HD44780.h.bak
/Firmware/ultralcd.cpp.bak
/Firmware/temperature.cpp.bak
/Firmware/pins.h.bak
/Firmware/Marlin_main.cpp.bak
/Firmware/language_pl.h.bak
/Firmware/language_it.h.bak
/Firmware/language_es.h.bak
/Firmware/language_en.h.bak
/Firmware/language_de.h.bak
/Firmware/language_cz.h.bak
/Firmware/variants/1_75mm_MK2-MultiMaterial-RAMBo13a-E3Dv6full.h
/Firmware/variants/1_75mm_MK2-MultiMaterial-RAMBo10a-E3Dv6full.h
/Firmware/variants/1_75mm_MK2-EINY01-E3Dv6full.h.bak
/Firmware/variants/1_75mm_MK1-RAMBo13a-E3Dv6full.h
/Firmware/variants/1_75mm_MK1-RAMBo10a-E3Dv6full.h
/lang/*.bin
/lang/*.hex
/lang/*.dat
/lang/*.tmp
/lang/*.out
/lang/not_tran.txt
/lang/not_used.txt
/lang/progmem1.chr
/lang/progmem1.lss
/lang/progmem1.txt
/lang/progmem1.var
/lang/text.sym
/lang/textaddr.txt
/build-env/
/Firmware/Firmware.vcxproj
/Firmware/Configuration_prusa_bckp.h
/Firmware/variants/printers.h
platformio.ini
.pio/build/project.checksum
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
include/README
lib/README
out/project.checksum
test/README
out/reprap_rambo/.sconsign.py37.dblite
out/reprap_rambo/firmware.elf
out/reprap_rambo/firmware.hex
out/reprap_rambo/libFrameworkArduino.a
out/reprap_rambo/libFrameworkArduinoVariant.a
out/reprap_rambo/FrameworkArduino/abi.cpp.o
out/reprap_rambo/FrameworkArduino/CDC.cpp.o
out/reprap_rambo/FrameworkArduino/HardwareSerial.cpp.o
out/reprap_rambo/FrameworkArduino/HardwareSerial0.cpp.o
out/reprap_rambo/FrameworkArduino/HardwareSerial1.cpp.o
out/reprap_rambo/FrameworkArduino/HardwareSerial2.cpp.o
out/reprap_rambo/FrameworkArduino/HardwareSerial3.cpp.o
out/reprap_rambo/FrameworkArduino/hooks.c.o
out/reprap_rambo/FrameworkArduino/IPAddress.cpp.o
out/reprap_rambo/FrameworkArduino/main.cpp.o
out/reprap_rambo/FrameworkArduino/new.cpp.o
out/reprap_rambo/FrameworkArduino/PluggableUSB.cpp.o
out/reprap_rambo/FrameworkArduino/Print.cpp.o
out/reprap_rambo/FrameworkArduino/Stream.cpp.o
out/reprap_rambo/FrameworkArduino/Tone.cpp.o
out/reprap_rambo/FrameworkArduino/USBCore.cpp.o
out/reprap_rambo/FrameworkArduino/WInterrupts.c.o
out/reprap_rambo/FrameworkArduino/wiring_analog.c.o
out/reprap_rambo/FrameworkArduino/wiring_digital.c.o
out/reprap_rambo/FrameworkArduino/wiring_pulse.c.o
out/reprap_rambo/FrameworkArduino/wiring_pulse.S.o
out/reprap_rambo/FrameworkArduino/wiring_shift.c.o
out/reprap_rambo/FrameworkArduino/wiring.c.o
out/reprap_rambo/FrameworkArduino/WMath.cpp.o
out/reprap_rambo/FrameworkArduino/WString.cpp.o
out/reprap_rambo/src/adc.c.o
out/reprap_rambo/src/AutoDeplete.cpp.o
out/reprap_rambo/src/backlight.cpp.o
out/reprap_rambo/src/BlinkM.cpp.o
out/reprap_rambo/src/bootapp.c.o
out/reprap_rambo/src/cardreader.cpp.o
out/reprap_rambo/src/cmdqueue.cpp.o
out/reprap_rambo/src/Configuration.cpp.o
out/reprap_rambo/src/ConfigurationStore.cpp.o
out/reprap_rambo/src/conv2str.cpp.o
out/reprap_rambo/src/Dcodes.cpp.o
out/reprap_rambo/src/eeprom.cpp.o
out/reprap_rambo/src/Firmware.ino.cpp.o
out/reprap_rambo/src/first_lay_cal.cpp.o
out/reprap_rambo/src/fsensor.cpp.o
out/reprap_rambo/src/heatbed_pwm.cpp.o
out/reprap_rambo/src/la10compat.cpp.o
out/reprap_rambo/src/language.c.o
out/reprap_rambo/src/lcd.cpp.o
out/reprap_rambo/src/Marlin_main.cpp.o
out/reprap_rambo/src/MarlinSerial.cpp.o
out/reprap_rambo/src/menu.cpp.o
out/reprap_rambo/src/mesh_bed_calibration.cpp.o
out/reprap_rambo/src/mesh_bed_leveling.cpp.o
out/reprap_rambo/src/messages.c.o
out/reprap_rambo/src/mmu.cpp.o
out/reprap_rambo/src/motion_control.cpp.o
out/reprap_rambo/src/optiboot_w25x20cl.cpp.o
out/reprap_rambo/src/pat9125.c.o
out/reprap_rambo/src/planner.cpp.o
out/reprap_rambo/src/qr_solve.cpp.o
out/reprap_rambo/src/rbuf.c.o
out/reprap_rambo/src/Sd2Card.cpp.o
out/reprap_rambo/src/SdBaseFile.cpp.o
out/reprap_rambo/src/SdFatUtil.cpp.o
out/reprap_rambo/src/SdFile.cpp.o
out/reprap_rambo/src/SdVolume.cpp.o
out/reprap_rambo/src/Servo.cpp.o
out/reprap_rambo/src/sm4.c.o
out/reprap_rambo/src/sound.cpp.o
out/reprap_rambo/src/speed_lookuptable.cpp.o
out/reprap_rambo/src/spi.c.o
out/reprap_rambo/src/stepper.cpp.o
out/reprap_rambo/src/swi2c.c.o
out/reprap_rambo/src/swspi.cpp.o
out/reprap_rambo/src/temperature.cpp.o
out/reprap_rambo/src/Timer.cpp.o
out/reprap_rambo/src/timer02.c.o
out/reprap_rambo/src/tmc2130.cpp.o
out/reprap_rambo/src/uart2.c.o
out/reprap_rambo/src/ultralcd.cpp.o
out/reprap_rambo/src/util.cpp.o
out/reprap_rambo/src/vector_3.cpp.o
out/reprap_rambo/src/w25x20cl.c.o
out/reprap_rambo/src/xyzcal.cpp.o
out/reprap_rambo/MK3S_3.9.0_invertedIR.hex
